@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Oswald:wght@700&display=swap");

$primary-col: #ffffff;
$secondary-col: #f5f5f5;
$black-col: #111111;



@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}
