@import "../../general-styles/__general";

.footer {
  background-color: $black-col;

  &-container {
    padding: 48px 40px;
    display: flex;
    justify-content: space-between;
  }

  &-lists {
    flex: 0.5;
    display: flex;
    justify-content: space-between;

    h5 {
      color: $primary-col;
      margin-bottom: 16px;
      font-family: "Oswald", sans-serif;
      font-size: 14px;
    }

    p {
      color: #dddddd8c;
      font-size: 13px;
      margin-bottom: 12px;
    }
  }
}

.breakline {
  border-bottom: 1px solid #dddddd8c;
  margin: 8px -16px 48px -16px;
}

.footer-icons {
  display: flex;
  gap: 16px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black-col;
    background-color: $primary-col;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    opacity: 0.6;

    &:hover {
      opacity: 0.9;
      transition: all 0.3s;
    }

  }

}

.footer-btm {
  display: flex;
  justify-content: space-between;
  padding: 0 64px 16px;

  &-copyright {
    display: flex;
    align-items: center;
    gap: 8px;

    div {
      display: flex;
      align-items: center;
    }

    h5 {
      color: $primary-col;
    }
    p {
      margin-left: 16px;
      color: #dddddd8c;
      font-size: 12px;
    }
  }

  &-github {

    img {
      height: 48px;
      opacity: 0.6;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@include mobile {
  .footer-list-2, .footer-list-3 {
    display: none;
  }

  .footer-container {
    flex-direction: column;
    padding: 48px 24px;
  }

  .footer-btm {
    padding: 0 24px;
    flex-direction: column;

    &-copyright {
      gap: 24px;
      flex-direction: column;
      align-items: flex-start;

      p {
        margin-left: 0;
      }
    }

    &-github {
      margin: 32px 0 ;
      img {
        height: 32px;
      }
    }
  }

}