@import "../../general-styles/__general";

.card {
  width: 400px;
  margin: 0 0 32px;
  color: $black-col;
  img {
    width: 100%;
  }
  &-name {
    padding: 8px 8px 4px;
    font-size: 18px;
  }
  &-colors {
    padding: 0 8px 4px;
    font-size: 15px;
    opacity: 0.6;
    text-transform: capitalize;
  }
  &-price {
    padding: 16px 8px 0;
    font-size: 17px;
    font-weight: 500;
  }

  a {
    color: $black-col;
  }

  &:hover {
    transform: scale(1.01);
  }
}

@include mobile {
  .card {
    width: 170px;
  }
}
