@import "../../general-styles/__general";

.trend-list {
  padding: 160px 28px 120px;
}

.trend-text {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 48px;
  padding-left: 24px;
}

@include mobile {
  .trend-list {
    padding: 160px 26px 120px;
  }
  .trend-text {
    padding-left: 8px;
  }
}
